
<!-- Estilos del thumb-->
<style type="/css">
  .thumbnail-r{
    display: block;
    padding: 3px;
    margin-bottom: 20px;
    line-height: 0;
    border: 0px;
    background-color: #000;
    border-radius: 5px;
  }
  .thumbnail-r > img{
    width: 100%;
  }
</style>
<!--Receta-->
<div class="page-container-fluid">
  <div class="page-content">
    <div class="content-wrapper">
      <div class="panel-rc panel-flat">
        <div class="panel-rc-body">
          <div class="row">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <!--Titulo e iconos-->

                <div class="col-lg-12 col-md-8 col-sm-8 col-xs-8">
                  <center><h1 class="t-rc"></h1></center>
                </div>

              <!--Cuerpo receta-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="panel-flat">
                      <div class="panel-body">
                        <div class="thumbnail">
                          <div class="thumb">
                            <a alt="Convenciones" data-popup="lightbox">
                              <img src="{{asset($receta->url)}}" alt="Convenciones">
                              <span class="zoom-image">
                                <div class="d-im">
                                  <p class="des-ir"></p>
                                </div>
                              </span>
                            </a>
                          </div>
                        </div>
                        <div class="inf-r">
                          <center><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <p class="det-r"><i  class="icon-alarm"></i></p>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <p class="det-r"><i class="icon-power2"></i></p>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <a href="Perfil">Perfil</a>
                            <p class="det-r"><i class="icon-coin-dollar"></i> $150 </p>
                          </div></center>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7 col-md-7 col-sm-12 col-xs-12">
                    <table class="table datatable-basic table-hover">
                      <thead>
                        <tr>
                          <th class="col-lg-8 t-tbi">Ingrediente</th>
                          <th class="col-lg-2 t-tbi">Cantidad</th>
                          <th class="col-lg-2 t-tbi">Precio</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <td class="b-tbi"></td>
                            <td class="b-tbi"></td>
                            <td class="b-tbi"></td>
                          </tr>
                      </tbody>
                    </table><br><br>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <h3 class="sb-r">Modo de Preparación</h3>
                    <p class="md-p">
                    </p>
                    <!--Botones para el adm-->
                    {{--}}<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#mod_rec"><i class="icon-pencil7"></i>Editar
                    </a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="sweet_warning">
                      <i class="icon-trash"></i>  Eliminar
                    </a>{{--}}
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="panel-ir panel-flat">
                      <div class="panel-ir-body">
                        <center><h5 class="sb-r"><b>Categoría: <b></h5>
                          <p class="inf-r"></p>
                        <h5 class="sb-r"><b>Nacionalidad: <b></h5>
                          <p class="inf-r"></p>
                        <h5 class="sb-r"><b>Requisitos: <b></h5>
                            <p class="inf-r"></p>
                        <h5 class="sb-r"><b>Porciones: <b></h5>
                          <p class="inf-r">8</p></center>
                      </div>
                    </div><br><br>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Modificar Receta-->
<div id="mod_rec" class="modal fade">
  <div class="modal-dialog modal-full">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">Modificar</h5>
      </div>
      <form method="post" action="" name="add_rec">
      <div class="modal-body">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="form-group col-lg-12">
               <h4>Nombre</h4>
               <input type="text" class="form-control" placeholder="Ingrediente" value="Convenciones" required>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4> Características </h4>
          </div>
          <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
               <label>Tiempo</label>
                   <select class="select">
                     <optgroup label="Medida">
                        <option value="1">15 min</option>
                        <option value="2">30 min</option>
                        <option value="2">45 min</option>
                        <option value="2">1 hr</option>
                        <option value="2">1 hr 15 min</option>
                        <option value="2">1 hr 30 min</option>
                        <option value="2">1 hr 45 min</option>
                        <option value="2">2 hr</option>
                        <option value="2">Más de 2 hr</option>
                     </optgroup>
                   </select>
          </div>
          <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
               <label>Dificultad</label>
                    <select class="select">
                      <optgroup label="Dificultad">
                        <option value="1">Fácil</option>
                        <option value="2">Medio</option>
                        <option value="3">Difícil</option>
                      </optgroup>
                    </select>
          </div>
          <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
               <label>Categoría</label>
                    <select class="select">
                      <optgroup label="Dificultad">
                        <option value="1">Pollo</option>
                        <option value="2">Res</option>
                        <option value="3">Mariscos</option>
                      </optgroup>
                    </select>
          </div>
          <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
               <label>Nacionalidad</label>
                    <select class="select">
                      <optgroup label="Nacionalidad">
                          <option value="1">China</option>
                          <option value="2">Japonesa</option>
                          <option value="3">Mexicana</option>
                      </optgroup>
                    </select>
          </div>
          <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-4">
               <label>Requisitos</label>
                    <select class="select">
                      <optgroup label="Dificultad">
                        <option value="1">Con Horno</option>
                        <option value="2">Sin Horno</option>
                      </optgroup>
                    </select>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4> Imagen </h4>
          </div>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label col-lg-4">Selecciona la imagen</label>
            <div class="col-lg-8">
              <input type="file" class="file-styled">
            </div>
          </div>
          <form class="form" method="post" name="ing">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h4>Ingredientes</h4>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <table class="table datatable-basic table-hover">
                <thead>
                  <tr>
                    <th class="col-lg-5 t-tbi">Ingrediente</th>
                    <th class="col-lg-2 t-tbi">Cantidad</th>
                    <th class="col-lg-2 t-tbi">Medida</th>
                    <th class="col-lg-2 t-tbi">Precio</th>
                    <th class="col-lg-1 t-tbi">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="b-tbi">Papa</td>
                    <td class="b-tbi">2</td>
                    <td class="b-tbi">Kg</td>
                    <td class="b-tbi">$30</td>
                    <td class="text-center">
                      <a href=""><i class="icon-trash"></i> Eliminar</a>
                    </td>

                  </tr>
                </tbody>
              </table>
              <br><br>
            </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                  <label>Ingrediente</label><br>
                    <select class="select-search">
                      <optgroup label="Ingrediente">
                        <option value="1">Papa</option>
                        <option value="2">Zanahoria</option>
                        <option value="3">Chicharo</option>
                        <option value="4">Calabaza</option>
                      </optgroup>
                    </select>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <label>Cantidad</label>
                <input type="number" class="form-control" placeholder="250" min="1" max="3000" maxlength="4" minlength="1" required>
              </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <label>Medida</label><br>
                      <select class="select-search">
                        <optgroup label="Medida">
                          <option value="1">Kg</option>
                          <option value="2">Lt</option>
                          <option value="3">Piezas</option>
                          <option value="4">Cucharadas</option>
                        </optgroup>
                      </select>
                </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><br>
                    <button type="submit" class=" mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Añadir</button>
                  </div>

          </form>
          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Procedimiento</h4>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <textarea rows="5" cols="5" class="form-control" placeholder="Default textarea"></textarea>
                  </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </form>
    </div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% if(typeof alert != "undefined") { %>
  <script>
      Swal.fire({
          title:'<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer:<%= timer %>
      }).then(()=>{
          whindow.location='/<%= ruta %>'
      })
  </script>
<% } %>