<!DOCTYPE html>
<html lang="es">
<head>
    <%receta=receta[0]%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/estiloreceta.css">
    <link href="link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
    <script>
      function calificar(){
        document.getElementById("calific").submit();

      }
    </script>
</head>
<body>
    <style>
        header{
    
        background-image: url(<%="../resources/img_rec/"+ receta.nb_imagen_receta%>) !important;
        
        }
      </style>
    <header>
        
        <ul class="nav">
        <%if (logueado) {%>
        <li><a href="../perfil">Perfil</a> 
        <%}else{%>
        <li><a href="../login">Inicio de sesión</a></li>
        <%}%>
        <li><a href="#">Recetas</a> 
            <ul>
              <%categoria.forEach(function(el){%>
                <li><a href=<%="../Blog/"+el.id_categoria%>><%=el.categoria%></a></li>
              <%});%>
                
            </ul>
        </li>
        <li><a href="../Blog/1">Inicio</a></li>
    </ul>
            


        <section class="textos-header">
            <h1><%=receta.nomb_receta%></h1>
            
        </div>

        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C114.55,198.84 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>
    <main>
        <section class="contenedor recetas">
          <div class="contenedor-recetas">
              <div class="contenedor-texto">
                      <h4 color="gray"><%=receta.descripcion%><h4>
              </div>
          </div>
          <br>
            <h1 class="titulo">Ingredientes</h1>
            <div class="contenedor-recetas">
                <div class="contenedor-texto">
                    <%console.log(ingredientes)%>
                    <%ingredientes.forEach(function(el){%>
                        <p><%=el.cantidad+" "+el.nomb_ing%><p>
                      <%});%>
                </div>
            </div>

            <h2 class="titulo">Elaboración</h2>
            <div class="contenedor-recetas">
                <div class="contenedor-texto">
                     <%
                     var i=1;
                     receta.procedimiento.split("\n").forEach(function(el){%>
                      <%if(el.startsWith("*")){%>  
                      <h2><span><%=i%></span><%=el.substring(1,el.lenght)%></h2>              
                      <%i++;}else{%>
                        <p><%=el%></p>
                      <%};%>                      
                      <%});%>
                      <%console.log(receta.descripcion.split("\n"))%>

                    <div class="wrapper">
                        <form action="../calificaRec" method="POST" id="calific" target="hidden-form">
                          <input type="hidden" id="id_user" name="id_user" value=<%=idu%>>
                          <input type="hidden" id="id_recetaac" name="id_recetaac" value=<%=receta.id_receta%>>
                          <p class="clasificacion">
                            <input id="radio1" type="radio" class="stars1" onclick="calificar()" name="estrellas" value="5"><!--
                            --><label for="radio1" class="lab1">★</label><!--
                            --><input id="radio2" type="radio" class="stars1" onclick="calificar()" name="estrellas" value="4"><!--
                            --><label for="radio2" class="lab2">★</label><!--
                            --><input id="radio3" type="radio"  class="stars1" onclick="calificar()" name="estrellas" value="3"><!--
                            --><label for="radio3" class="lab3">★</label><!--
                            --><input id="radio4" type="radio" class="stars1" onclick="calificar()" name="estrellas" value="2"><!--
                            --><label for="radio4" class="lab4">★</label><!--
                            --><input id="radio5" type="radio" class="stars1" onclick="calificar()" name="estrellas" value="1"><!--
                            --><label for="radio5" class="lab5">★</label>
                          </p>
                        </form>
                        <iframe style="display:none" name="hidden-form"></iframe>
                      </div>
                </div>
                
            </div>
                
        </section>
      
 
    </main>

</body>
</html>